@font-face {
	font-family: "Myriad Pro";
    src: url(../fonts/MyriadPro-Regular.woff2) format("woff2"),
        url(../fonts/MyriadPro-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal; 
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

embed,
iframe,
object,
video {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	margin: 0 auto;
	font-family: "Myriad Pro", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.header__video {
  position: relative;
  display: block;
  width: 100%;
  min-height: 550px;
  background-image: url(../img/header-video.jpg);
  overflow-y: hidden;
  z-index: 51;
}
.header__play {
  position: absolute;
  top: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 50;
}
.header__scroll {
  background-image: url(../img/down-arrows.png);
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 5%;
  margin: 0 auto;
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: 300;
}
.menu {
	max-width: 1920px;
  height: auto;
	margin: 0 auto;
	padding: 0px;
	background-color: rgb(45, 88, 184);
}
.menu__logo {
	margin-top: -30px;
}
.menu__list {
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 870px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-top: 12px;
  margin-left: 50px;
  list-style: none;
}
.menu__list {
  display: none;
}
.menu__list-mob {
  display: none;
  position: absolute;
  width: 100%;
  height: 250px;
  margin: 0px;
  padding: 10px 20px;
  top: 144px;
  left: 0px;
  z-index: 1;
  list-style: none; 
  background-color: hsla(219,77%,60%,0.72);
}
.menu__item-mob {
  margin-bottom: 10px;
}
.menu__link-mob:hover {
  color: #000;
}
.menu__link,
.menu__link-mob {
	display: block;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.menu__wrapper {
  position: relative;
  max-width: 1215px;
  width: 100%;
  margin: 0 auto;
}
.menu__inner {
	display: flex;
  flex-direction: row;
	max-width: 1215px;
	margin: 0 auto;
}
.header__mob {
  margin-left: auto;
  margin-right: 10px;
  height: 18px;
  cursor: pointer;
}
.tongue {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 140px;
}
.tongue__img {
  width: 65%;
  height: 65%;
}
.menu__form {
  display: flex;
  margin: 0 5px;
  padding-top: 9px;
  padding-bottom: 9px;
}
.menu__input {
  max-width: 605px;
  width: 100%;
  height: 35px;
  margin-right: 15px;
  border: 2px solid #c1c6cc;
  border-radius: 5px;
}
.menu__form-btn {
  width: 78px;
  height: 36px;
  padding: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #5078e7;
  border: 0;
  border-radius: 5px;
}
.menu__img {
  width: 200px;
  height: 72px;
}
.header__dowl {
  position: absolute;
  width: 48px;
  height: 48px;
  right: 10px;
  bottom: 30px;
  background-image: url(../img/dowlnn.png);
  z-index: 300;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header__mob {
    display: none;
  }
  .header__mob--humburger {
    display: none;
  }
  .menu__list-mob {
    display: none;
  }
  .menu__list {
    display: block;
  }
  .header__video {
    min-width: 750px;
    overflow-y: hidden;
  }
  .menu__img {
    width: 278px;
    height: 97px;
  }
  .tongue {
    width: 190px;
    padding-top: 15px;
    margin-right: 5px;
  }
  .tongue__img {
    width: 47px;
    height: 31px;
  }
  .menu__inner{
    flex-direction: row;
  }
  .menu__form {
    margin-left: 242px;
    padding-top: 0px;
    padding-bottom: 18px;
  }
  .menu__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    margin-left: 26px;
  }
  .menu__link {
    font-size: 10px;
  }
}
@media (min-width: 1024px) {
  .menu__list {
    margin-left: 50px;
  }
  .menu__link {
    font-size: 16px;
  }
  .tongue {
    margin-right: 0px;
  }
}
.banner__list {
  max-width: 1920px;
  margin: 0 auto;
}
.banner__link {
  outline: none;
}
.banner__img {
  max-width: 100%;
}
.product {
	max-width: 1920px;
	margin: 0 auto;
  margin-bottom: 40px;
}
.product__img {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: rgba(18, 23, 77, 0.93);
}
.product__title {
	margin: 0px;
	padding: 0px;
	padding-top: 14px;
  padding-bottom: 19px;
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	background-color: rgb(45, 88, 184);
}
.product__list {
	display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.product__block {
	position: absolute;
  width: 460px;
  top: 50px;
  right: 50%;
  left: 45%;
  z-index: 1;
}
.product__block-one {
  position: absolute;
  width: 460px;
  top: 50px;
  right: 45%;
  z-index: 1;
}
.product__name {
	font-size: 25px;
  line-height: 32px;
  letter-spacing: 2.09px;
  font-weight: 400;
  color: #fff;
}
.product__text {
	font-size: 17px;
  font-weight: 400;
  letter-spacing: 1.09px;
  color: #ffffff;
}
/*.img {*/
  /*position: relative;*/

/*}*/
/*.product__item--fon::before {*/
	/*position: absolute;*/
	/*content: "";*/
	/*left: 0px;*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*background-color: rgba(18, 23, 77, 0.93);*/
/*}*/
.product__btn {
	display: block;
  width: 292px;
  height: 70px;
  padding: 0px;
  margin-top: 45px;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2d58b8;
  border: 0px;
}
.product__item {
	position: relative;
}
@media (min-width: 768px) {
  .product__title {
    padding-top: 11px;
    padding-bottom: 22px;
    font-size: 46px;
  }
}
.flashcard {
	max-width: 1920px;
	margin: 0 auto;
	margin-bottom: 112px;
}
.flashcard__title {
  margin: 0px;
  margin-bottom: 68px;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}
.flashcard__list {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
	max-width: 1100px;
  width: 100%;
	margin: 0px auto;
	padding: 0px;
	list-style: none;
}
.flashcard__item {
  width: 336px;
  border: 1px solid #9a9a9a;
  background-color: #fff;
  box-shadow: 10px 0px 38px 0px rgba(0, 0, 0, 0.10);
}
.flashcard__img {
	display: block;
	margin: 0 auto;
}
.flashcard__name {
	padding: 0px 81px;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  color: #12309b;
  text-align: center;
}
.flashcard__block {
	margin-bottom: 30px;
}
.flashcard__block span {
	display: block;
	text-align: center;
}
.flashcard__text {
	font-size: 15px;
  font-weight: bold;
  color: #6b6b6b;
  text-align: center;
}
.flashcard__data {
	font-size: 18px;
  font-weight: bold;
  color: #666666;
}
.flashcard__time {
	font-size: 18px;
  font-weight: bold;
  color: #ff0000;
}
.flashcard__link {
	display: block;
  width: 187px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: 1.59px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #2d58b8;
  border-radius: 100px;
}
@media (min-width: 768px) {
  .flashcard__title {
    font-size: 46px;
  }
  .flashcard__block {
    
  }
  .flashcard__img {
    width: 314px;
    height: 213px;
  }
  .flashcard__item {
    
  }
  .flashcard__list {
    
  }
}
.tender {
	max-width: 1920px;
  height: auto;
	/*height: 393px;*/
	margin: 0 auto;
	background-image: url(../img/tender__top-bg.jpg);
	background-position: center center;
  background-size: cover;
}
.tender__link {
	display: block;
  width: 292px;
  height: 70px;
  padding: 0px;
  margin-top: 26px;
  margin-bottom: 41px;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1.9px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2d58b8;
  border: 0px;
}
.tender__block {
	display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  padding: 0 5px;
}
.tender__title {
	margin: 0px;
  font-size: 45px;
  font-weight: 400;
  line-height: 90px;
  color: #fff;
}
.tender__text {
  max-width: 560px;
  width: 100%;  
	margin: 0px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
  color: #ffffff;
}
@media (min-width: 768px) {
  .tender__block {
    width: 500px;
    padding: 0px;
  }
  .tender__title {
    margin: 0px;
    font-size: 68px;
    font-weight: 400;
    line-height: 108px;
    color: #fff;
  }
  .tender__text {
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1024px) {
  .tender__block {
    width: 900px;
  }
  .tender__text {
    
  }
}
.about {
  position: relative;
	max-width: 1920px;
	height: 781px;
  margin: 0 auto;
	margin-top: 80px;
  background-image: url(../img/tender__bottom-bg.png);
  background-position: center center;
  background-size: cover;
}	
.about__text {
	max-width: 1150px;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.35px;
  line-height: 24px;
  color: #000000;
  margin: 0px auto;
  text-align: justify;
}
.about__link {
  position: absolute;
  bottom: 8px;
  right: 375px;
  display: block;
  width: 292px;
  height: 70px;
  padding: 0px;
  margin-top: 26px;
  margin-bottom: 41px;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1.9px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2d58b8;
  border: 0px;
}
@media (min-width: 768px) {
.about__text {
  padding: 0px;
  padding-top: 54px;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
}
}
.footer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #2d58b8;
}
.footer__header {
  background-color: #3153b3;
}
.footer__menu {
  max-width: 980px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0px;
  margin: 0px auto;
  list-style: none;
}
.footer__item {
  padding: 5px 20px;
}
.footer__item a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.09px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.footer__wrapper {
  max-width: 1170px;
  margin: 0px auto;
}
.footer-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.footer-list__title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.29px;
  color: #ffffff;
}
.footer-list__link {
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.09px;
  color: #fff;
  text-decoration: none;
}
.footer-list__point--adress {
  background-image: url(../img/icon-address-footer.png);
  background-repeat: no-repeat;
  background-position: 0 5px;
}
.footer-list__point--email {
  background-image: url(../img/icon__email-footer.png);
  background-repeat: no-repeat;
  background-position: 0 8px;
}
.footer-list__point--tel {
  background-image: url(../img/icon__tel-footer.png);
  background-repeat: no-repeat;
  background-position: 0 5px;
}
.footer-list__link--adress,
.footer-list__link--tel,
.footer-list__link--email {
  max-width: 250px;
  margin-left: 30px;
  margin-bottom: 5px;
  font-size: 13px;
  text-align: left;
}
.footer__copyright p {
  display: block;
  width: 155px;
  margin: 0px auto;
  padding-bottom: 15px;
  font-size: 17px;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
}

.footer__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto auto 0;
  overflow: hidden;
  padding-bottom: 10px;
}
.footer-head {
  background-color: rgb(0, 140, 214);
}
.footer-head__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 20px 0;
  max-width: 1110px;
  overflow: visible;
  text-align: center;
}
.footer-head__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: auto;
  padding: 1px;
}
.footer-head__link {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .footer-head__inner {
    flex-direction: row;
    margin: auto auto 0;
    text-align: center;
  }
}
.footer-list__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  z-index: 1;
  padding: 0 30px;
  margin: 5px;
}
.footer-list {
  font-size: 16px;
  line-height: 1.5em;
  list-style-type: none;
  margin: 0px;
  padding: 0;
}
.footer-list__point {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}
.footer-list__point img {
  vertical-align: text-bottom;
}
@media screen and (min-width: 768px) {
  .footer-list__wrapper {
    margin: 0px;
    padding: 0px;
  }
  .footer-social {
    justify-content: flex-start;
  }
  .footer-social__link img {
    margin-top: 3px;
  }
  .footer-list--first {
    margin-left: 0;
  }
  .footer-list--last {
    margin-right: 0;
  }
  .footer-list {
    margin: 18px auto;
  }
  .footer-head__link {
    line-height: 51px;
  }
}
@media (min-width: 768px) {
  .footer__menu {
    flex-direction: row;
    padding: 44px 0px;
  }
  .footer__item {
    padding: 0px;
  }
  .footer-list__link {
    font-size: 16px;
    line-height: 30px;
  }
  .footer-list__link {
    text-align: center;
  }
  .footer-list__title {
    text-align: center;
  }
  .footer-list__link--adress,
  .footer-list__link--tel,
  .footer-list__link--email {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .footer-list__link {
    text-align: left;
  }
}
@media screen and (min-width: 1284px) {
  .footer-list__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-list--first {
    margin: 18px auto;
  }
  .footer-list--last {
    margin: 18px auto;
  }
  .footer-list__point {
    text-align: left;
  }
  .footer-head__link {
    font-size: 24px;

  }
  /*.footer-list__title {*/
    /*text-align: left;*/
  /*}*/
}